In [1]:
print('hello world')

hello world

In [ ]:
import os
os.getcwd()

In [3]:
import pandas as pd
import numpy as np

df=pd.read_csv('../../data/products.csv')
df.shape

(8, 13)

In [4]:
df

,product_id,product_name,category,price,image_url,manufacturing_emissions_gco2e,transport_distance_km,recyclability_percent,biodegradability_score,is_fair_trade,supply_chain_transparency_score,durability_rating,repairability_index
0,1,Eco-Glass Water Bottle,Kitchen,24.99,https://i.imgur.com/example1.png,500,200,100,2,1,5,5,4
1,2,Cheap Plastic Bottle,Kitchen,1.99,https://i.imgur.com/example2.png,2500,5000,5,1,0,1,1,1
2,3,Organic Fair-Trade Coffee,Groceries,18.50,https://i.imgur.com/example3.png,300,8000,100,5,1,4,1,1
3,4,Fast-Fashion T-Shirt,Apparel,9.99,https://i.imgur.com/example4.png,6000,12000,10,2,0,2,2,1
4,5,Durable Canvas Backpack,Accessories,49.99,https://i.imgur.com/example5.png,3000,1500,60,3,1,3,5,3
5,6,Local Artisan Soap,Beauty,12.00,https://i.imgur.com/example6.png,150,50,100,5,1,5,2,1
6,7,Imported Smartphone,Electronics,899.00,https://i.imgur.com/example7.png,50000,15000,15,1,0,2,3,2
7,8,Recycled Paper Journal,Office,15.99,https://i.imgur.com/example8.png,400,500,100,5,1,4,3,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   product_id                       8 non-null      int64
 1   product_name                     8 non-null      object
 2   category                         8 non-null      object
 3   price                            8 non-null      float64
 4   image_url                        8 non-null      object
 5   manufacturing_emissions_gco2e    8 non-null      int64
 6   transport_distance_km            8 non-null      int64
 7   recyclability_percent            8 non-null      int64
 8   biodegradability_score           8 non-null      int64
 9   is_fair_trade                    8 non-null      int64
 10  supply_chain_transparency_score  8 non-null      int64
 11  durability_rating                8 non-null      int64
 12  repairability_index              8 non-null      int64
dtypes: float64(1), int64(9), object(3)
memory usage: 960.0+ bytes

In [6]:
df2=pd.read_csv('../../data/products_large.csv')
df2.shape

(200, 14)

In [7]:
df2.head()

,product_id,product_name,category,price,image_url,manufacturing_emissions_gco2e,transport_distance_km,recyclability_percent,biodegradability_score,is_fair_trade,supply_chain_transparency_score,durability_rating,repairability_index,earth_score
0,1,Home Facilitate Frictionless Models Kit,home,84.63,https://i.imgur.com/example6.png,6008,10343,58,4,1,5,1,5,72
1,2,Office Visualize Innovative E-Commerce Wearable,home,97.68,https://i.imgur.com/example7.png,19596,12394,70,4,1,3,5,3,67
2,3,Electronics Cultivate Scalable Metrics Gadget,electronics,1086.58,https://i.imgur.com/example7.png,12159,7147,97,1,1,4,4,3,68
3,4,Beauty E-Enable World-Class Initiatives Kit,beauty,86.48,https://i.imgur.com/example7.png,13853,239,47,2,0,1,1,1,35
4,5,Electronics Grow Out-Of-The-Box Schemas Kit,electronics,757.61,https://i.imgur.com/example3.png,19668,1165,85,1,0,2,5,2,50

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   product_id                       200 non-null    int64
 1   product_name                     200 non-null    object
 2   category                         200 non-null    object
 3   price                            200 non-null    float64
 4   image_url                        200 non-null    object
 5   manufacturing_emissions_gco2e    200 non-null    int64
 6   transport_distance_km            200 non-null    int64
 7   recyclability_percent            200 non-null    int64
 8   biodegradability_score           200 non-null    int64
 9   is_fair_trade                    200 non-null    int64
 10  supply_chain_transparency_score  200 non-null    int64
 11  durability_rating                200 non-null    int64
 12  repairability_index              200 non-null    int64
 13  earth_score                      200 non-null    int64
dtypes: float64(1), int64(10), object(3)
memory usage: 22.0+ KB

In [9]:
print("earth_score" in columns for columns in df2.columns)

<generator object <genexpr> at 0x109fdfd10>

In [10]:
for column in df2.columns:
    if "earth_score" in column:
        print(column)

earth_score

In [11]:
df2.columns

Index(['product_id', 'product_name', 'category', 'price', 'image_url',
       'manufacturing_emissions_gco2e', 'transport_distance_km',
       'recyclability_percent', 'biodegradability_score', 'is_fair_trade',
       'supply_chain_transparency_score', 'durability_rating',
       'repairability_index', 'earth_score'],
      dtype='object')

In [12]:
df2.head()

,product_id,product_name,category,price,image_url,manufacturing_emissions_gco2e,transport_distance_km,recyclability_percent,biodegradability_score,is_fair_trade,supply_chain_transparency_score,durability_rating,repairability_index,earth_score
0,1,Home Facilitate Frictionless Models Kit,home,84.63,https://i.imgur.com/example6.png,6008,10343,58,4,1,5,1,5,72
1,2,Office Visualize Innovative E-Commerce Wearable,home,97.68,https://i.imgur.com/example7.png,19596,12394,70,4,1,3,5,3,67
2,3,Electronics Cultivate Scalable Metrics Gadget,electronics,1086.58,https://i.imgur.com/example7.png,12159,7147,97,1,1,4,4,3,68
3,4,Beauty E-Enable World-Class Initiatives Kit,beauty,86.48,https://i.imgur.com/example7.png,13853,239,47,2,0,1,1,1,35
4,5,Electronics Grow Out-Of-The-Box Schemas Kit,electronics,757.61,https://i.imgur.com/example3.png,19668,1165,85,1,0,2,5,2,50

In [13]:
df['biodegradability_score'].value_counts()

biodegradability_score
5    3
2    2
1    2
3    1
Name: count, dtype: int64

In [14]:
df['repairability_index'].value_counts()

repairability_index
1    5
4    1
3    1
2    1
Name: count, dtype: int64

In [15]:
df2['category'].value_counts()

category
home           71
kitchen        48
electronics    33
beauty         26
clothing       22
Name: count, dtype: int64